<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="communityMapper">
  	<resultMap type="Board" id="boardResultSet">
  		<result column="BOARD_ID" property="boardId"/>
  		<result column="BOARD_TITLE" property="boardTitle"/>
  		<result column="BOARD_VIEWS" property="boardViews"/>
  		<result column="BOARD_CREATE_TIME" property="boardCreateTime"/>
  		<result column="BOARD_MODIFY_TIME" property="boardModifyTime"/>
  		<result column="BOARD_INTRODUCTION" property="introduction"/>
  		<result column="BOARD_DESCRIPTION" property="description"/>
  		<result column="FILTER_TYPE" property="filType"/>
  		<result column="FILTER_AREA" property="filArea"/>
  		<result column="FILTER_NUM" property="filNum"/>
  		<result column="FILTER_DIRECTION" property="filDirection"/>
  		<result column="FILTER_PAST" property="filPast"/>
  		<result column="FILTER_LOCAL" property="filLocal"/>
  		<result column="FILTER_FAMILY" property="filFamily"/>
  		<result column="FILTER_PET" property="filPet"/>
  		<result column="FILTER_FAMILY_MEM_CNT" property="filFamMemCnt"/>
  		<result column="FILTER_FIELD" property="filField"/>
  		<result column="FILTER_WORKER" property="filWorker"/>
  		<result column="FILTER_RANGE" property="filRange"/>
  		<result column="FILTER_PERIOD" property="filPeriod"/>
  		<result column="FILTER_PERIOD_TYPE" property="filPeriodType"/>
  		<result column="FILTER_CONSTRUCTION_PRICE" property="filConPrice"/>
  		<result column="FILTER_STYLE_PRICE" property="filStPrice"/>
  		<result column="FILTER_URL" property="filUrl"/>
  		<result column="FILTER_COPYRIGHT" property="filCopy"/>
  		<result column="MEMBERS_ID" property="membersId"/>
  		<result column="BOARD_STATUS" property="boardStatus"/>
  	</resultMap>
  	<resultMap id="mediaResultSet" type="Media">
  		<result column="MEDIA_ID" property="mediaId"/>
  		<result column="BOARD_ID" property="mediaBoardId"/>
  		<result column="MEDIA_TYPE" property="mediaType"/>
  		<result column="ORIGIN_NAME" property="originName"/>
  		<result column="CHANGE_NAME" property="changeName"/>
  		<result column="FILE_PATH" property="filePath"/>
  		<result column="FILE_LEVEL" property="fileLevel"/>
  		<result column="UPLOAD_DATE" property="uploadDate"/>
  		<result column="MEDIA_STATUS" property="mediaStatus"/>
  	</resultMap>
  	<resultMap id="scrapResultSet" type="Scrap">
  		<result column="SCRAP_ID" property="scrapId"/>
  		<result column="SCRAP_TYPE" property="scrapType"/>
  		<result column="BOARD_ID" property="scrapBoardId"/>
  		<result column="MEMBERS_NO" property="scrapMembersNo"/>
  		<result column="SCRAP_CREATE_TIME" property="scrapCreateTime"/>
  		<result column="SCRAP_STATUS" property="scrapStatus"/>
  	</resultMap>
  	
  	<insert id="insertBoard" parameterType="Board">
  	INSERT
	INTO BOARD
	(
		BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		BOARD_INTRODUCTION,
		BOARD_DESCRIPTION,
		FILTER_TYPE,
		FILTER_AREA,
		FILTER_NUM,
		FILTER_DIRECTION,
		FILTER_PAST,
		FILTER_LOCAL,
		FILTER_FAMILY,
		FILTER_PET,
		FILTER_FAMILY_MEM_CNT,
		FILTER_FIELD,
		FILTER_WORKER,
		FILTER_RANGE,
		FILTER_PERIOD,
		FILTER_PERIOD_TYPE,
		FILTER_CONSTRUCTION_PRICE,
		FILTER_STYLE_PRICE,
		FILTER_URL,
		FILTER_COPYRIGHT,
		MEMBERS_NO
	)
	VALUES
	(
		SEQ_PDID.NEXTVAL,
		#{boardTitle},
		#{boardViews},
		#{introduction},
		#{description},
		#{filType},
		#{filArea},
		#{filNum},
		#{filDirection},
		#{filPast},
		#{filLocal},
		#{filFamily},
		#{filPet},
		#{filFamMemCnt},
		#{filField},
		#{filWorker},
		#{filRange},
		#{filPeriod},
		#{filPeriodType},
		#{filConPrice},
		#{filStPrice},
		#{filUrl},
		#{filCopy},
		#{membersNo},
		#{boardStatus}
	)
  	</insert>
  		<result column="FILTER_PERIOD" property="filPeriod"/>
  		<result column="FILTER_PERIOD_TYPE" property="filPeriodType"/>
  		<result column="FILTER_CONSTRUCTION_PRICE" property="filConPrice"/>
  		<result column="FILTER_STYLE_PRICE" property="filStPrice"/>
  		<result column="FILTER_URL" property="filUrl"/>
  		<result column="FILTER_COPYRIGHT" property="filCopy"/>
  		<result column="MEMBERS_ID" property="membersId"/>
  		<result column="BOARD_STATUS" property="boardStatus"/>
  	
  <!-- 
  <properties>
	<entry key="insertBoard">
	INSERT
	INTO BOARD
	(
		BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		BOARD_COVER_SRC,
		BOARD_CONTENT,
		FILTER_TYPE,
		FILTER_AREA,
		FILTER_NUM,
		FILTER_DIRECTION,
		FILTER_PAST,
		FILTER_LOCAL,
		FILTER_FAMILY,
		FILTER_PET,
		FILTER_FAMILY_MEM_CNT,
		FILTER_FIELD,
		FILTER_WORKER,
		FILTER_RANGE,
		FILTER_PERIOD,
		FILTER_PERIOD_TYPE,
		FILTER_CONSTRUCTION_PRICE,
		FILTER_STYLE_PRICE,
		FILTER_URL,
		FILTER_COPYRIGHT,
		MEMBERS_NO
	)
	VALUES(
		SEQ_PDID.NEXTVAL,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?
	)
	</entry>
	<entry key="selectBoard">
	SELECT
		BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		TO_CHAR(BOARD_CREATE_TIME, 'YYYY/MM/DD') AS BOARD_CREATE_TIME,
		TO_CHAR(BOARD_MODIFY_TIME, 'YYYY/MM/DD') AS BOARD_MODIFY_TIME,
		BOARD_COVER_SRC,
		BOARD_CONTENT,
		FILTER_TYPE,
		FILTER_AREA,
		FILTER_NUM,
		FILTER_DIRECTION,
		FILTER_PAST,
		FILTER_LOCAL,
		FILTER_FAMILY,
		FILTER_PET,
		FILTER_FAMILY_MEM_CNT,
		FILTER_FIELD,
		FILTER_WORKER,
		FILTER_RANGE,
		FILTER_PERIOD,
		FILTER_PERIOD_TYPE,
		FILTER_CONSTRUCTION_PRICE,
		FILTER_STYLE_PRICE,
		FILTER_URL,
		FILTER_COPYRIGHT,
		MEMBERS_ID
	FROM BOARD
	JOIN MEMBERS USING (MEMBERS_NO)
	WHERE BOARD_ID = ?
	AND BOARD_STATUS = 'Y'
	</entry>
	<entry key="selectBoardList">
	SELECT *
	FROM (
		SELECT ROWNUM AS "RNUM", A.*
		FROM(
			SELECT
				B.BOARD_ID,
				BOARD_TITLE,
				BOARD_VIEWS,
				FILE_PATH || CHANGE_NAME AS "TITLE_IMG",
				MEMBERS_ID,
				(
                 SELECT COUNT(*)
				 FROM SCRAP S
				 WHERE S.BOARD_ID = B.BOARD_ID
                ) AS "SCRAP_COUNT"
			FROM BOARD B
			JOIN MEDIA MED ON (B.BOARD_ID = MED.BOARD_ID)
			JOIN MEMBERS MEM ON (B.MEMBERS_NO = MEM.MEMBERS_NO)
			WHERE BOARD_STATUS = 'Y'
			  AND FILE_LEVEL = 1
            ORDER BY B.BOARD_ID DESC
            )A
        )
	WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="selectBoardList">
	SELECT *
	FROM (
			SELECT ROWNUM AS "RNUM", A.*
			FROM(SELECT
					B.BOARD_ID,
					BOARD_TITLE,
					BOARD_VIEWS,
					BOARD_COVER_SRC,
					FILTER_TYPE,
					FILTER_AREA,
					FILTER_FAMILY,
					FILTER_FIELD,
					FILTER_WORKER,
					FILTER_RANGE,
					FILTER_CONSTRUCTION_PRICE,
					FILTER_STYLE_PRICE,
					FILTER_URL,
					FILTER_COPYRIGHT,
					MEMBERS_ID,
					(SELECT COUNT(*)
					 FROM SCRAP
					 WHERE BOARD_ID = B.BOARD_ID) AS "COUNT"
				FROM BOARD B
				JOIN MEMBERS USING (MEMBERS_NO)
				WHERE B.BOARD_ID = ?
				AND BOARD_STATUS = 'Y'
				ORDER BY B.BOARD_ID DESC)
				A
		 	)
		 WHERE RNUM BETWEEN ? AND ? 
	</entry>	
	<entry key="updateBoard">
	UPDATE BOARD
	SET 
		BOARD_TITLE = ?,
		BOARD_COVER_SRC = ?,
		BOARD_CONTENT = ?,
		FILTER_TYPE = ?,
		FILTER_AREA = ?,
		FILTER_NUM = ?,
		FILTER_DIRECTION = ?,
		FILTER_PAST = ?,
		FILTER_LOCAL = ?,
		FILTER_FAMILY = ?,
		FILTER_PET = ?,
		FILTER_FAMILY_MEM_CNT = ?,
		FILTER_FIELD = ?,
		FILTER_WORKER = ?,
		FILTER_RANGE = ?,
		FILTER_PERIOD = ?,
		FILTER_PERIOD_TYPE = ?,
		FILTER_CONSTRUCTION_PRICE = ?,
		FILTER_STYLE_PRICE = ?,
		FILTER_URL = ?,
		FILTER_COPYRIGHT = ?,
		BOARD_MODIFY_TIME = SYSDATE
	WHERE BOARD_ID = ?
	</entry>
	<entry key="deleteBoard">
	UPDATE BOARD
	SET BOARD_STATUS = 'N'
	WHERE BOARD_ID = ?
	</entry>
	<entry key="increaseViews">
	UPDATE BOARD
	SET BOARD_VIEWS = BOARD_VIEWS + 1
	WHERE BOARD_ID = ?
	  AND BOARD_STATUS = 'Y'
	</entry>
	MEDIA 객체 CRUD
	<entry key="insertCommunityMedia">
	INSERT
	INTO MEDIA
	(
		MEDIA_ID,
		BOARD_ID
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		FILE_LEVEL
	)
	VALUES
	(
		SEQ_MEDID.NEXTVAL,
		SEQ_BODID.CURRVAL
		?,
		?,
		?,
		?,
		?
	)
	</entry>
	updateBoard 시 사용하는 mapper-
	<entry key="insertCommunityNewMedia">
	INSERT
	INTO MEDIA
	(
		MEDIA_ID,
		BOARD_ID,
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH
	)
	VALUES
	(
		SEQ_MEDID.NEXTVAL,
		?,
		?,
		?,
		?,
		?
	)
	</entry>
	<entry key="insertCommunityThumbnail">
	INSERT
	INTO MEDIA
	(
		MEDIA_ID,
		BOARD_ID,
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		FILE_LEVEL
	)
	VALUES
	(
		SEQ_MEDID.NEXTVAL,
		SEQ_BODID.CURRVAL,
		1,
		?,
		?,
		?,
		1
	)
	</entry>
	<entry key="selectCommunityMedia">
	SELECT
		MEDIA_ID,
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
	FROM MEDIA
	WHERE BOARD_ID = ?
	  AND MEDIA_STATUS = 'Y'
	</entry>
	MEDIA 수정 시 BOARD_MODIFY_TIME 수정되도록 할 것
	<entry key="updateCommunityMedia">
	UPDATE MEDIA
	SET ORIGIN_NAME = ?,
		CHANGE_NAME = ?,
		FILE_PATH = ?
	WHERE MEDIA_ID = ?
	  AND BOARD_ID = ?
	</entry>
	SCRAP 객체
	<entry key="insertBoardScrap">
	INSERT
	INTO SCRAP
	(
		SCRAP_ID,
		SCRAP_TYPE,
		MEMBERS_NO,
		BOARD_ID,
	)
	VALUES
	(
		SEQ_SCRID.NEXTVAL,
		3,
		?,
		?
	)
	</entry>
	<entry key="insertMediaScrap">
	INSERT
	INTO SCRAP
	(
		SCRAP_ID,
		SCRAP_TYPE,
		MEMBERS_NO,
		MEDIA_ID,
	)
	VALUES
	(
		SEQ_SCRID.NEXTVAL,
		2,
		?,
		?
	)
	</entry>
	<entry key="selectBoardScrapCount">
	SELECT COUNT(*)
	FROM SCRAP
	WHERE BOARD_ID = ?
	AND SCRAP_STATUS = 'Y'
	</entry>
	<entry key="selectMediaScrapCount">
	SELECT COUNT(*)
	FROM SCRAP
	WHERE MEDIA_ID = ?
	AND SCRAP_STATUS = 'Y'
	</entry>
	========================================= 태그 매퍼 ============================================= 
	
	
	
	========================================= 댓글 매퍼 ============================================= 
	<entry key="selectReplyList"
		SELECT
			REPLY_ID,
			REPLY_TEXT,
			REPLY_CREATE_DATE,
			BOARD_ID,
			MEMBERS_ID
		FROM REPLY R
		JOIN MEMBERS M ON (R.MEMBERS_NO = M.MEMBERS_NO)
		WHERE REPLY_STATUS = 'Y'
	</entry>
	<entry key="updateReply">
	
	</entry>
	<entry key="deleteReply">
	</entry>
</properties>
   -->
  </mapper>
  