<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="communityMapper">
  	<resultMap type="Board" id="boardResultSet">
  		<result column="BOARD_ID" property="boardId"/>
  		<result column="BOARD_TITLE" property="boardTitle"/>
  		<result column="BOARD_VIEWS" property="boardViews"/>
  		<result column="BOARD_CREATE_TIME" property="boardCreateTime"/>
  		<result column="BOARD_MODIFY_TIME" property="boardModifyTime"/>
  		<result column="BOARD_INTRODUCTION" property="introduction"/>
  		<result column="BOARD_DESCRIPTION" property="description"/>
  		<result column="FILTER_TYPE" property="filType"/>
  		<result column="FILTER_AREA" property="filArea"/>
  		<result column="FILTER_NUM" property="filNum"/>
  		<result column="FILTER_DIRECTION" property="filDirection"/>
  		<result column="FILTER_PAST" property="filPast"/>
  		<result column="FILTER_LOCAL" property="filLocal"/>
  		<result column="FILTER_FAMILY" property="filFamily"/>
  		<result column="FILTER_PET" property="filPet"/>
  		<result column="FILTER_FAMILY_MEM_CNT" property="filFamMemCnt"/>
  		<result column="FILTER_FIELD" property="filField"/>
  		<result column="FILTER_WORKER" property="filWorker"/>
  		<result column="FILTER_RANGE" property="filRange"/>
  		<result column="FILTER_PERIOD" property="filPeriod"/>
  		<result column="FILTER_PERIOD_TYPE" property="filPeriodType"/>
  		<result column="FILTER_CONSTRUCTION_PRICE" property="filConPrice"/>
  		<result column="FILTER_STYLE_PRICE" property="filStPrice"/>
  		<result column="FILTER_URL" property="filUrl"/>
  		<result column="FILTER_COPYRIGHT" property="filCopy"/>
  		<result column="BOARD_STATUS" property="boardStatus"/>
  		<result column="MEMBERS_NO" property="boardWriter"/>
  		<result column="SCRAP_COUNT" property="scrapCount"/>
  	</resultMap>
  	<resultMap id="mediaResultSet" type="Media">
  		<result column="MEDIA_ID" property="mediaId"/>
  		<result column="BOARD_ID" property="mediaBoardId"/>
  		<result column="MEDIA_TYPE" property="mediaType"/>
  		<result column="ORIGIN_NAME" property="originName"/>
  		<result column="CHANGE_NAME" property="changeName"/>
  		<result column="FILE_PATH" property="filePath"/>
  		<result column="FILE_LEVEL" property="fileLevel"/>
  		<result column="UPLOAD_DATE" property="uploadDate"/>
  		<result column="MEDIA_STATUS" property="mediaStatus"/>
  	</resultMap>
  	<resultMap id="scrapResultSet" type="Scrap">
  		<result column="SCRAP_ID" property="scrapId"/>
  		<result column="SCRAP_TYPE" property="scrapType"/>
  		<result column="BOARD_ID" property="scrapBoardId"/>
  		<result column="MEMBERS_NO" property="scrapMembersNo"/>
  		<result column="SCRAP_CREATE_TIME" property="scrapCreateTime"/>
  		<result column="SCRAP_STATUS" property="scrapStatus"/>
  	</resultMap>
  	
  	<insert id="insertBoard" parameterType="Board">
  	INSERT
	INTO BOARD
	(
		BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		BOARD_INTRODUCTION,
		BOARD_DESCRIPTION,
		FILTER_TYPE,
		FILTER_AREA,
		FILTER_NUM,
		FILTER_DIRECTION,
		FILTER_PAST,
		FILTER_LOCAL,
		FILTER_FAMILY,
		FILTER_PET,
		FILTER_FAMILY_MEM_CNT,
		FILTER_FIELD,
		FILTER_WORKER,
		FILTER_RANGE,
		FILTER_PERIOD,
		FILTER_PERIOD_TYPE,
		FILTER_CONSTRUCTION_PRICE,
		FILTER_STYLE_PRICE,
		FILTER_URL,
		FILTER_COPYRIGHT,
		MEMBERS_NO
	)
	VALUES
	(
		SEQ_PDID.NEXTVAL,
		#{boardTitle},
		#{boardViews},
		#{introduction},
		#{description},
		#{filType},
		#{filArea},
		#{filNum},
		#{filDirection},
		#{filPast},
		#{filLocal},
		#{filFamily},
		#{filPet},
		#{filFamMemCnt},
		#{filField},
		#{filWorker},
		#{filRange},
		#{filPeriod},
		#{filPeriodType},
		#{filConPrice},
		#{filStPrice},
		#{filUrl},
		#{filCopy},
		#{boardWriter},
		#{boardStatus}
	)
  	</insert>
  	
  	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
  	SELECT
		BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		TO_CHAR(BOARD_CREATE_TIME, 'YYYY/MM/DD') AS "BOARD_CREATE_TIME",
		TO_CHAR(BOARD_MODIFY_TIME, 'YYYY/MM/DD') AS "BOARD_MODIFY_TIME",
		BOARD_INTRODUCTION,
		BOARD_DESCRIPTION,
		FILTER_TYPE,
		FILTER_AREA,
		FILTER_NUM,
		FILTER_DIRECTION,
		FILTER_PAST,
		FILTER_LOCAL,
		FILTER_FAMILY,
		FILTER_PET,
		FILTER_FAMILY_MEM_CNT,
		FILTER_FIELD,
		FILTER_WORKER,
		FILTER_RANGE,
		FILTER_PERIOD,
		FILTER_PERIOD_TYPE,
		FILTER_CONSTRUCTION_PRICE,
		FILTER_STYLE_PRICE,
		FILTER_URL,
		FILTER_COPYRIGHT,
		MEMBERS_ID AS "BOARD_WRITER"
	FROM BOARD
	JOIN MEMBERS USING (MEMBERS_NO)
	WHERE BOARD_ID = #{boardId}
	AND BOARD_STATUS = 'Y'
  	</select>
  	<!-- 기본 정렬은 최신순. 이후 정렬은 동적 쿼리 사용 -->
  	<select id="selectBoardList" resultMap="boardResultSet">
	SELECT
		B.BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		FILE_PATH || CHANGE_NAME AS "BOARD_THUMBNAIL",
		B.MEMBERS_NO AS "BOARD_WRITER",
		(
         SELECT COUNT(*)
		 FROM SCRAP S
		 WHERE S.BOARD_ID = B.BOARD_ID
              ) AS "SCRAP_COUNT"
	FROM BOARD B
	JOIN MEDIA MED ON (B.BOARD_ID = MED.BOARD_ID)
	JOIN MEMBERS MEM ON (B.MEMBERS_NO = MEM.MEMBERS_NO)
	WHERE BOARD_STATUS = 'Y'
	  AND FILE_LEVEL = 1
    ORDER BY BOARD_CREATE_TIME DESC
  	</select>
  	<update id="updateBoard" parameterType="Board">
  	UPDATE BOARD
	SET 
		BOARD_TITLE = #{boardTitle},
		BOARD_INTRODUCTION = #{boardIntroduction},
		BOARD_DESCRIPTION = #{board},
		FILTER_TYPE = #{filType},
		FILTER_AREA = #{filArea},
		FILTER_NUM = #{filNum},
		FILTER_DIRECTION = #{filDirection},
		FILTER_PAST = #{filPast},
		FILTER_LOCAL = #{filLocal},
		FILTER_FAMILY = #{filFamily},
		FILTER_PET = #{filPet},
		FILTER_FAMILY_MEM_CNT = #{filFamMemCnt},
		FILTER_FIELD = #{filField},
		FILTER_WORKER = #{filWorker},
		FILTER_RANGE = #{filRange},
		FILTER_PERIOD = #{filPeriod},
		FILTER_PERIOD_TYPE = #{filPeriodType},
		FILTER_CONSTRUCTION_PRICE = #{filConPrice},
		FILTER_STYLE_PRICE = #{filStPrice},
		FILTER_URL = #{filUrl},
		FILTER_COPYRIGHT = #{filCopy},
		BOARD_MODIFY_TIME = SYSDATE
	WHERE BOARD_ID = #{boardId}
  	</update>
  	<update id="deleteBoard" parameterType="_int">
  	UPDATE BOARD
	SET BOARD_STATUS = 'N'
	WHERE BOARD_ID = #{boardId}
	</update>
	<update id="increaseViews" parameterType="_int">
	UPDATE BOARD
	SET BOARD_VIEWS = BOARD_VIEWS + 1
	WHERE BOARD_ID = #{boardId}
	  AND BOARD_STATUS = 'Y'
  	</update>
  	<!-- media 객체 crud -->
  	<!-- 썸네일 -->
  	<insert id="insertCommunityThumbnail">
  	INSERT
	INTO MEDIA
	(
		MEDIA_ID,
		BOARD_ID,
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		FILE_LEVEL
	)
	VALUES
	(
		SEQ_MEDID.NEXTVAL,
		SEQ_BODID.CURRVAL,
		1,
		#{originName},
		#{changeName},
		#{filePath},
		1
	)
	</insert>
  	<!-- 일반 -->
  	<insert id="insertCommunityMedia">
  	INSERT
	INTO MEDIA
	(
		MEDIA_ID,
		BOARD_ID
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH
	)
	VALUES
	(
		SEQ_MEDID.NEXTVAL,
		SEQ_BODID.CURRVAL
		#{mediaType},
		#{originName},
		#{changeName},
		#{filePath}
	)
  	</insert>
  	<insert id="insertCommunityNewMedia">
  	INSERT
	INTO MEDIA
	(
		MEDIA_ID,
		BOARD_ID,
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH
	)
	VALUES
	(
		SEQ_MEDID.NEXTVAL,
		#{mediaBoardId},
		#{mediaType},
		#{originName},
		#{changeName},
		#{filePath}
	)
  	</insert>
  	<select id="selectCommunityMedia" resultMap="mediaResultSet">
  	SELECT
		MEDIA_ID,
		MEDIA_TYPE,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH
	FROM MEDIA
	WHERE BOARD_ID = #{mediaBoardId}
	  AND MEDIA_STATUS = 'Y'
	</select>
	<update id="updateCommunityMedia">
	UPDATE MEDIA
	SET ORIGIN_NAME = #{originName},
		CHANGE_NAME = #{changeName},
		FILE_PATH = #{filePath}
	WHERE MEDIA_ID = #{mediaId}
	  AND BOARD_ID = #{mediaBoardId}
  	</update>
  	<!-- SCRAP -->
  	<insert id="insertBoardScrap">
  	INSERT
	INTO SCRAP
	(
		SCRAP_ID,
		SCRAP_TYPE,
		MEMBERS_NO,
		BOARD_ID,
	)
	VALUES
	(
		SEQ_SCRID.NEXTVAL,
		3,
		#{scrapMembersNo},
		#{scrapBoardId}
	)
  	</insert>
  	<insert id="insertMediaScrap">
  	INSERT
	INTO SCRAP
	(
		SCRAP_ID,
		SCRAP_TYPE,
		MEMBERS_NO,
		MEDIA_ID,
	)
	VALUES
	(
		SEQ_SCRID.NEXTVAL,
		2,
		#{scrapMembersNo},
		#{scrapMediaId}
	)
  	</insert>
  	<select id="selectBoardScrapCount" resultType="_int">
  	SELECT COUNT(*)
	FROM SCRAP
	WHERE BOARD_ID = #{boardId}
	AND SCRAP_STATUS = 'Y'
  	</select>
  	<select id="selectMediaScrapCount" resultType="_int">
  	SELECT COUNT(*)
	FROM SCRAP
	WHERE MEDIA_ID = #{mediaId}
	AND SCRAP_STATUS = 'Y'
  	</select>
  	<!-- REPLY -->
  	<!-- 
  	 	<select id="selectReplyList" resultType="replyResultSet">
  	SELECT
			REPLY_ID,
			REPLY_TEXT,
			REPLY_CREATE_DATE,
			BOARD_ID,
			MEMBERS_ID
		FROM REPLY R
		JOIN MEMBERS M ON (R.MEMBERS_NO = M.MEMBERS_NO)
		WHERE REPLY_STATUS = 'Y'
  	</select>
  	 -->
 </mapper>
  