<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMembers">
		SELECT
		    MEMBERS_NO
			,MEMBERS_ID
			,MEMBERS_PWD
			,MEMBERS_NAME
			,MEMBERS_BIRTH
			,MEMBERS_PHONE
			,MEMBERS_EMAIL
			,GENDER
			,MEMBERS_TYPE
			,COMPANY_NAME
			,REPRESENTATATIVE
			,COMPANY_PLACE
			,COMPANY_PHONE
			,COMPANY_EMAIL
			,REG_NUM
			,MEMBERS_ENROLL_TIME
			,MEMBERS_MODIFY_TIME
			,MEMBERS_STATUS
		FROM MEMBERS
		WHERE MEMBERS_ID = ?
		AND MEMBERS_PWD = ?
		AND MEMBERS_STATUS = 'Y'
	     
	</entry>
	<entry key="insertMembers">
		INSERT INTO MEMBERS
		(
			MEMBERS_NO
			,MEMBERS_ID
			,MEMBERS_PWD
			,MEMBERS_NAME
			,MEMBERS_BIRTH
			,MEMBERS_PHONE
			,MEMBERS_EMAIL
			,GENDER
		)
		VALUES
		(
			SEQ_MEMID.NEXTVAL,
			?,
			?,
			?,
			?,
			?,
			?,
			?
		)
	</entry>
		<entry key="selectMembers">
		SELECT
			 MEMBERS_NO
			,MEMBERS_ID
			,MEMBERS_PWD
			,MEMBERS_NAME
			,MEMBERS_BIRTH
			,MEMBERS_PHONE
			,MEMBERS_EMAIL
			,GENDER
			,MEMBERS_TYPE
			,COMPANY_NAME
			,REPRESENTATATIVE
			,COMPANY_PLACE
			,COMPANY_PHONE
			,COMPANY_EMAIL
			,REG_NUM
			,MEMBERS_STATUS
		FROM MEMBERS
	   WHERE MEMBERS_ID = ?
	     AND MEMBERS_STATUS = 'Y'
	</entry>
	<entry key="updateMembers">
		UPDATE MEMBERS
		SET MEMBERS_NAME = ?
			, MEMBERS_PWD = ?
			, MEMBERS_PHONE = ?
			, MEMBERS_EMAIL = ?
			, MEMBERS_BIRTH = ?
			, MEMBERS_MODIFY_TIME = SYSDATE
		WHERE MEMBERS_ID = ?
	</entry>
	<entry key="updatePwdMembers">
		UPDATE MEMBERS
		SET MEMBERS_PWD = ?,
			MEMBERS_MODIFY_TIME = SYSDATE
		WHERE MEMBERS_ID = ?
			AND MEMBERS_PWD = ?
	</entry>
	<entry key="deleteMembers">
		UPDATE MEMBERS
		SET MEMBERS_STATUS = 'N'
		   ,MEMBERS_MODIFY_TIME = SYSDATE
		WHERE MEMBERS_ID = ?
		AND MEMBERS_PWD = ?
	</entry>
	<entry key="insertProfile">
		INSERT
		INTO MEDIA
		(
			MEDIA_ID,
			MEMBERS_NO,
			MEDIA_TYPE,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			FILE_LEVEL
		)
		VALUES
		(
			SEQ_MEDID.NEXTVAL,
			SEQ_MEMID.NEXTVAL,
			1,
			?,
			?,
			?,
			3
		)
	</entry>
	<entry key="selectProfile">
		SELECT
			MEDIA_ID,
			FILE_PATH
		FROM MEDIA
		WHERE MEMBERS_NO = ?
		  AND MEDIA_STATUS = 'Y'
	</entry>
	<entry key="updateProfile">
		UPDATE MEDIA
		SET ORIGIN_NAME = ?,
			CHANGE_NAME = ?,
			FILE_PATH = ?
		WHERE MEDIA_ID = ?
	</entry>
	<entry key="deleteProfile">
		UPDATE MEDIA
		SET MEDIA_STATUS = 'N'
		WHERE MEDIA_ID = ?
	</entry>
	<entry key="selectMyProductScrapCount">
	SELECT COUNT(*)
	FROM SCRAP
	WHERE MEMBERS_NO = ?
	AND SCRAP_TYPE = 1
	AND SCRAP_STATUS = 'Y'
	</entry>
	<entry key="selectMyMediaScrapCount">
	SELECT COUNT(*)
	FROM SCRAP
	WHERE MEMBERS_NO = ?
	AND SCRAP_TYPE = 2
	AND SCRAP_STATUS = 'Y'
	</entry>
	<entry key="selectMyBoardScrapCount">
	SELECT COUNT(*)
	FROM SCRAP
	WHERE MEMBERS_NO = ?
	AND SCRAP_TYPE = 3
	AND SCRAP_STATUS = 'Y'
	</entry>
	<entry key="deleteScrap">
	UPDATE SCRAP
	SET SCRAP_STATUS = 'N"
	WHERE SCRAP_ID = ?
	</entry>
</properties>
