<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertProduct">
	INSERT
	INTO PRODUCT
	(
		PRODUCT_ID,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		STOCK,
		DELIVERY_DATE,
		SALE,
		PRODUCT_THUMBNAIL,
		PRODUCT_IMG,
		PRODUCT_CONTENT,
		MEMBERS_NO,
		PRODUCT_DELIVERY_PRICE,
		PRODUCT_CATEGORY
	)
	VALUES(
		SEQ_PDID.NEXTVAL,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?
	)
	</entry>
	
	<entry key="selectProduct">
	SELECT
		PRODUCT_ID,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_SALES,
		STOCK,
		DELIVERY_DATE,
		SALE,
		PRODUCT_THUMBNAIL,
		PRODUCT_IMG,
		PRODUCT_CONTENT,
		PRODUCT_CREATE_TIME,
		PRODUCT_MODIFY_TIME,
		MEMBERS_NO,
		PRODUCT_DELIVERY_PRICE,
		PRODUCT_CATEGORY
	FROM PRODUCT
	WHERE PRODUCT_ID = ?
		AND PRODUCT_STATUS = 'Y'
	</entry>
	<!-- 정렬 디폴트 인기순(누적 판매량 순) -->
	<entry key="selectProductList">
	SELECT 
		   PRODUCT_ID,
           PRODUCT_NAME,
           PRODUCT_PRICE,
           SALE,
           TITLE_IMG,
           COMPANY_NAME,
           REVIEW_COUNT,
           RATING
	FROM (
		    SELECT ROWNUM AS "RNUM", A.*
		    FROM (
		        SELECT
		            P.PRODUCT_ID,
		            PRODUCT_NAME,
		            PRODUCT_PRICE,
		            SALE,
		            FILE_PATH || CHANGE_NAME AS "TITLE_IMG",
		            COMPANY_NAME,
		            (
		                SELECT COUNT(*)
		                FROM REVIEW R
		                WHERE R.PRODUCT_ID = P.PRODUCT_ID
		            ) AS "REVIEW_COUNT",
		            (
		                SELECT AVG(RATING)
		                FROM REVIEW R
		                WHERE R.PRODUCT_ID = P.PRODUCT_ID
		            ) AS "RATING"
		        FROM PRODUCT P
		        JOIN MEDIA MED ON (P.PRODUCT_ID = MED.PRODUCT_ID)
		        JOIN MEMBERS MEM ON (P.MEMBERS_NO = MEM.MEMBERS_NO)
		        WHERE PRODUCT_STATUS = 'Y'
		        AND FILE_LEVEL = 1
		        ORDER BY PRODUCT_SALES DESC
		    	)
		    	A
			)
	WHERE "RNUM" BETWEEN ? AND ?;
	</entry>
	<entry key="selectProductListDesc">
	SELECT 
		   PRODUCT_ID,
           PRODUCT_NAME,
           PRODUCT_PRICE,
           SALE,
           TITLE_IMG,
           COMPANY_NAME,
           REVIEW_COUNT,
           RATING
	FROM (
		    SELECT ROWNUM AS "RNUM", A.*
		    FROM (
		        SELECT
		            P.PRODUCT_ID,
		            PRODUCT_NAME,
		            PRODUCT_PRICE,
		            SALE,
		            FILE_PATH || CHANGE_NAME AS "TITLE_IMG",
		            COMPANY_NAME,
		            (
		                SELECT COUNT(*)
		                FROM REVIEW R
		                WHERE R.PRODUCT_ID = P.PRODUCT_ID
		            ) AS "REVIEW_COUNT",
		            (
		                SELECT AVG(RATING)
		                FROM REVIEW R
		                WHERE R.PRODUCT_ID = P.PRODUCT_ID
		            ) AS "RATING"
		        FROM PRODUCT P
		        JOIN MEDIA MED ON (P.PRODUCT_ID = MED.PRODUCT_ID)
		        JOIN MEMBERS MEM ON (P.MEMBERS_NO = MEM.MEMBERS_NO)
		        WHERE PRODUCT_STATUS = 'Y'
		        AND FILE_LEVEL = 1
		        ORDER BY ? DESC
		    	)
		    	A
			)
	WHERE "RNUM" BETWEEN ? AND ?;
	</entry>
	<entry key="selectProductListAsc">
	SELECT 
		   PRODUCT_ID,
           PRODUCT_NAME,
           PRODUCT_PRICE,
           SALE,
           TITLE_IMG,
           COMPANY_NAME,
           REVIEW_COUNT,
           RATING
	FROM (
		    SELECT ROWNUM AS "RNUM", A.*
		    FROM (
		        SELECT
		            P.PRODUCT_ID,
		            PRODUCT_NAME,
		            PRODUCT_PRICE,
		            SALE,
		            FILE_PATH || CHANGE_NAME AS "TITLE_IMG",
		            COMPANY_NAME,
		            (
		                SELECT COUNT(*)
		                FROM REVIEW R
		                WHERE R.PRODUCT_ID = P.PRODUCT_ID
		            ) AS "REVIEW_COUNT",
		            (
		                SELECT AVG(RATING)
		                FROM REVIEW R
		                WHERE R.PRODUCT_ID = P.PRODUCT_ID
		            ) AS "RATING"
		        FROM PRODUCT P
		        JOIN MEDIA MED ON (P.PRODUCT_ID = MED.PRODUCT_ID)
		        JOIN MEMBERS MEM ON (P.MEMBERS_NO = MEM.MEMBERS_NO)
		        WHERE PRODUCT_STATUS = 'Y'
		        AND FILE_LEVEL = 1
		        ORDER BY ? ASC
		    	)
		    	A
			)
	WHERE "RNUM" BETWEEN ? AND ?;
	</entry>
	<entry key="updateProduct">
	UPDATE PRODUCT
	SET	PRODUCT_NAME = ?,
		PRODUCT_PRICE = ?,
		DELIVERY_DATE = ?
		SALE = ?,
		PRODUCT_THUMBNAIL = ?,
		PRODUCT_IMG = ?,
		PRODUCT_CONTENT = ?,
		PRODUCT_MODIFY_TIME = SYSDATE,
		MEMBERS_NO = ?,
		PRODUCT_DELIVERY_PRICE =?,
		PRODUCT_CATEGORY = ?
	WHERE PRODUCT_ID = ?
	</entry>
	<entry key="deleteProduct">
	UPDATE PRODUCT
	SET	PRODUCT_STATUS = 'N'
	WHERE PRODUCT_ID = ?
	</entry>
	<!-- ========================== 상품 이미지 관련 매퍼 ========================= -->
	<entry key="insertProductMedia">
	INSERT
		INTO MEDIA
		(
			MEDIA_ID,
			PRODUCT_ID,
			MEDIA_TYPE,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			FILE_LEVEL
		)
		VALUES
		(
			SEQ_MEDID.NEXTVAL,
			SEQ_MEMID.NEXTVAL,
			1,
			?,
			?,
			?,
		)
	</entry>
	<entry key="selectProductThumbnail">
		SELECT
			MEDIA_ID,
			FILE_PATH
		FROM MEDIA
		WHERE PRODUCT_ID = ?
		  AND FILE_LEVEL = 1
		  AND MEDIA_STATUS = 'Y'
	</entry>
	<entry key="selectProductMedia">
		SELECT
			MEDIA_ID,
			FILE_PATH
		FROM MEDIA
		WHERE PRODUCT_ID = ?
		  AND FILE_LEVEL = 2
		  AND MEDIA_STATUS = 'Y'
	</entry>
	<entry key="updateProductMedia">
	UPDATE MEDIA
	SET ORIGIN_NAME = ?,
		CHANGE_NAME = ?,
		FILE_PATH = ?
	WHERE MEDIA_ID = ?
	</entry>
	<entry key="deleteProductMedia">
	UPDATE MEDIA
	SET MEDIA_STATUS = 'N'
	WHERE MEDIA_ID = ?
	</entry>
	<!-- =================== 상품 스크랩 매퍼 =========================== -->
	<entry key="insertProductScrap">
	INSERT
	INTO SCRAP
	(
		SCRAP_ID,
		SCRAP_TYPE,
		MEMBERS_NO,
		PRODUCT_ID,
	)
	VALUES
	(
		SEQ_SCRID.NEXTVAL,
		1,
		?,
		?
	)
	</entry>
	<!-- =========================== 상품 옵션 매퍼 ================================ -->
	
	<!-- ========================== 주문 매퍼 ============================ -->
	
	<!--  ============================ 장바구니 매퍼 ============================== -->
	
	<!--  ========================== QNA 매퍼 ================================= -->
	
	<!-- =================================== 리뷰 매퍼 ========================== -->
</properties>
