body {
    margin: 0;
    padding: 0;
}

.sticky-container {
    width: 1136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.header-logo {
    font-size: 30px;
    width: 150px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

.header-main {
    width: 200px;
    display: inline-flex;
}

.header-main>a {
    text-align: left;
    width: 70px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.header-main>a:hover {
    color: #35C5F0;
}

.header-menu {
    width: calc(100% - 350px);
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-search {
    width: 350px;
    height: 40px;
    position: relative;
}

.header-search > form{
    height: 100%;
}

#hearder-search-input {
    width: 350px;
    height: 40px;
    outline-color: #35C5F0;
    border: 2px solid #f7f9fa;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    padding-left: 40px;
}

#hearder-search-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
}

#header-search-img {
    height: 40px;
    opacity: 50%;
}

.header-others {
    display: flex;
    align-items: center;
}

.header-others>a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}

.header-others>a:hover {
    color: #35C5F0;
}

.header-others>img {
    width: 30px;
    margin: 0px 10px;
}

.header-others>img:nth-child(4) {
    width: 50px;
    margin-right: 20px;
}

.header-hidden {
    display: none;
}

.header-category>a,
.header-mypage>a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}

.header-category>a:hover,
.header-mypage>a:hover {
    color: #35C5F0;
}

.header-mypage {
    margin: auto;
}