* {
    box-sizing: border-box;
    outline: none; /*focus 시 테두리 나오게*/
    font-family: "Noto Sans KR", sans-serif;
  }

  body,
  div,
  input,
  main,
  footer{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: block;
  }

  body{
    background: rgb(255, 255, 255);
    line-height: 1;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
  }

footer,
header,
main{
    position: relative;
}

.wrapper{
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
}

.container{
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.content{
    flex: 1 0 auto;
    margin: 0px auto;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
}

.content > a{
    margin-bottom: 30px;
    text-decoration: none;
}

img{
    width: 147px;
    height: 50px;
    object-fit: contain;
}

form{
    width: 100%;
    display: block;
}

.div-input{
    position: relative;
    width: 100%;
    height: 50px;
}

.input-style{
    position: relative;
    width: 100%;
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
    height: 100%;
    padding: 13px 15px 14px;
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

#input-email{
    border-radius: 4px 4px 0px 0px;
}

#input-password{
    border-radius: 0px 0px 4px 4px;
}

button{
    margin: 20px 0px;
    width: 100%;
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
    background-color: #35c5f0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 1px solid #35c5f0 ;
    border-radius: 4px;
}

section{
    width: 100%;
    text-align: center;
}

section a{
    letter-spacing: -0.3px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}



