#pc-content {
    width: 1136px;
    padding: 0px 20px;
}

#pc-title {
    text-align: left;
}

.pc-sale {
    display: flex;
    justify-content: space-between;
}

.pc-sale-img {
    border-radius: 5px;
    width: 260px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.pc-sale-img>img {
    width: 250px;
}

.pc-sale img {
    border-radius: 5px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
}

.pc-sale img:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.pc-sale-text {
    width: 190px;
    text-align: left;
    margin-bottom: 50px;
}

.pc-category {
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}

.pc-add {
    color: #ff7777;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.pc-company {
    font-size: 11px;
    font-weight: 700;
    margin-top: 5px;
    color: #828c94;
}

.pc-title {
    margin-top: 5px;
    font-size: 13px;
}

.pc-price {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 700;
}

.pc-color {
    color: #35C5F0;
}

.pc-review {
    margin-top: 5px;
    font-weight: 700;
}

.pc-gray {
    margin-top: 5px;
    color: #828c94;
}

.pc-sale-img>button {
    position: absolute;
    background: none;
    border: none;
    right: 0px;
    bottom: 5px;

    cursor: pointer;
    opacity: 0.5;
}

.pc-sale-img>button:hover {
    opacity: 1;
}

.pc-grid {
    display: grid;
    column-gap: 50px;
}