<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- BOARD 객체 CRUD -->
	<entry key="insertBoard">
	INSERT
	INTO BOARD
	(
		BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		BOARD_TYPE,
		BOARD_COVER_SRC,
		BOARD_CONTENT,
		FILTER_TYPE,
		FILTER_AREA,
		FILTER_NUM,
		FILTER_DIRECTION,
		FILTER_PAST,
		FILTER_LOCAL,
		FILTER_FAMILY,
		FILTER_PET,
		FILTER_FAMILY_MEM_CNT,
		FILTER_FIELD,
		FILTER_WORKER,
		FILTER_RANGE,
		FILTER_PERIOD,
		FILTER_PERIOD_TYPE,
		FILTER_CONSTRUCTION_PRICE,
		FILTER_STYLE_PRICE,
		FILTER_URL,
		FILTER_COPYRIGHT,
		MEMBERS_NO
	)
	VALUES(
		SEQ_PDID.NEXTVAL,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?
	)
	</entry>
	<!-- MEDIA 테이블 조인해서 MEDIA SRC 컬럼값도 가져옴 -->
	<entry key="selectBoard">
	SELECT
		BOARD_ID,
		BOARD_TITLE,
		BOARD_VIEWS,
		TO_CHAR(BOARD_CREATE_TIME, 'YYYY/MM/DD') AS BOARD_CREATE_TIME,
		TO_CHAR(BOARD_MODIFY_TIME, 'YYYY/MM/DD') AS BOARD_MODIFY_TIME,
		BOARD_TYPE,
		BOARD_COVER_SRC,
		MEDIA_SRC,
		BOARD_CONTENT,
		FILTER_TYPE,
		FILTER_AREA,
		FILTER_NUM,
		FILTER_DIRECTION,
		FILTER_PAST,
		FILTER_LOCAL,
		FILTER_FAMILY,
		FILTER_PET,
		FILTER_FAMILY_MEM_CNT,
		FILTER_FIELD,
		FILTER_WORKER,
		FILTER_RANGE,
		FILTER_PERIOD,
		FILTER_PERIOD_TYPE,
		FILTER_CONSTRUCTION_PRICE,
		FILTER_STYLE_PRICE,
		FILTER_URL,
		FILTER_COPYRIGHT,
		MEMBERS_ID
	FROM BOARD
	JOIN MEMBERS USING (MEMBERS_NO)
	WHERE BOARD_ID = ?
	AND BOARD_STATUS = 'Y';
	</entry>
	<entry key="selectBoardList">
	SELECT *
	FROM (
			SELECT
			FROM(SELECT
					BOARD_ID,
					BOARD_TITLE,
					BOARD_VIEWS,
					TO_CHAR(BOARD_CREATE_TIME, 'YYYY/MM/DD') AS BOARD_CREATE_TIME,
					TO_CHAR(BOARD_MODIFY_TIME, 'YYYY/MM/DD') AS BOARD_MODIFY_TIME,
					BOARD_TYPE,
					BOARD_COVER_SRC,
					MEDIA_SRC,
					BOARD_CONTENT,
					FILTER_TYPE,
					FILTER_AREA,
					FILTER_NUM,
					FILTER_DIRECTION,
					FILTER_PAST,
					FILTER_LOCAL,
					FILTER_FAMILY,
					FILTER_PET,
					FILTER_FAMILY_MEM_CNT,
					FILTER_FIELD,
					FILTER_WORKER,
					FILTER_RANGE,
					FILTER_PERIOD,
					FILTER_PERIOD_TYPE,
					FILTER_CONSTRUCTION_PRICE,
					FILTER_STYLE_PRICE,
					FILTER_URL,
					FILTER_COPYRIGHT,
					MEMBERS_ID
				FROM BOARD
				JOIN MEMBERS USING (MEMBERS_NO)
				WHERE BOARD_ID = ?
				AND BOARD_STATUS = 'Y';
				)
		 )
	</entry>
	<entry key="updateBoard">
	UPDATE BOARD
	SET 
		BOARD_TITLE = ?,
		BOARD_TYPE = ?,
		BOARD_COVER_SRC = ?,
		BOARD_CONTENT = ?,
		FILTER_TYPE = ?,
		FILTER_AREA = ?,
		FILTER_NUM = ?,
		FILTER_DIRECTION = ?,
		FILTER_PAST = ?,
		FILTER_LOCAL = ?,
		FILTER_FAMILY = ?,
		FILTER_PET = ?,
		FILTER_FAMILY_MEM_CNT = ?,
		FILTER_FIELD = ?,
		FILTER_WORKER = ?,
		FILTER_RANGE = ?,
		FILTER_PERIOD = ?,
		FILTER_PERIOD_TYPE = ?,
		FILTER_CONSTRUCTION_PRICE = ?,
		FILTER_STYLE_PRICE = ?,
		FILTER_URL = ?,
		FILTER_COPYRIGHT = ?,
		BOARD_MODIFY_TIME = SYSDATE
	WHERE BOARD_ID = ?
	</entry>
	<entry key="deleteBoard">
	UPDATE BOARD
	SET BOARD_STATUS = 'N'
	WHERE BOARD_ID = ?
	</entry>
	<!-- MEDIA 객체 CRUD -->
	<!-- SCRAP 객체 -->
	<entry key="selectScrapCount">
	SELECT COUNT(*)
	FROM SCRAP
	WHERE BOARD_ID = ?
	</entry>
</properties>
